@model  SampleMapper.EmpDTO
@{
    ViewBag.Title = "Save Employee";
}

<h2>SaveEmployee</h2>


@using (Html.BeginForm("SaveEmployee", "Emp", FormMethod.Post, new { id = "frmEmpMst", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <table>
        @Html.HiddenFor(m => m.EmpNo)

        <tr>
            <td>
                EmpName :
            </td>
            <td>
                @Html.TextBoxFor(m => m.EmpName, new { id = "EmpName" })
            </td>
        </tr>

        <tr>
            <td>
                Salary :
            </td>
            <td>
                @Html.TextBoxFor(m => m.Salary, new { id = "Salary" })
            </td>
        </tr>


        <tr>
            <td>
                DeptName :
            </td>
            <td>
                @Html.TextBoxFor(m => m.DeptName, new { id = "DeptName" })
            </td>
        </tr>

        <tr>
            <td>
                Designation :
            </td>
            <td>
                @Html.TextBoxFor(m => m.Designation, new { id = "Designation" })
            </td>
        </tr>


        <tr>
            <td>
                File :
            </td>
            <td>

                @*<input type="file" name="file" id="fileToUpload"
                           tabindex="1" style="visibility: hidden; width: 100%; height: 5px;" />
                    <input type="button" id="Photo" onclick="document.getElementById('fileToUpload').click(); return false;"
                           value="Browse" style="width: 80px; height: 30px; margin-bottom: 5px;" />*@


                <div id="uploaders">
                    <input type="file" id="fileToUpload" name="fileUpload" multiple="multiple" style="float: left;" accept=".PNG,.TXT,.JPG,.BMP, .gif" />
                    <br />
                    <span id="spnFile" style="float: left; color: #FF0000"></span>

                    <span id="lifile" style="float: left; color: #FF0000"></span>
                    @Html.ValidationMessage("File")
                    @Html.Hidden("hdnFileUpload")
                </div>


            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td>
                User Name :
            </td>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { id = "UserName" })
            </td>
        </tr>
        <tr>
            <td>
                Password :
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { id = "Password" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td></td>

            <td>
                <input type="submit" value="Save" class="btn button" formaction="/Emp/SaveEmployee" />
                <input type="submit" value="Clear" class="btn button" onclick="return EmpClear();" />
            </td>

        </tr>
    </table>


}

<script type="text/javascript">


    function EmpClear() {

        var EmpName = document.getElementById("EmpName").value = "";
        var Salary = document.getElementById("Salary").value = "";
        var DeptName = document.getElementById("DeptName").value = "";
        var Designation = document.getElementById("Designation").value = "";
        var UserName = document.getElementById("UserName").value = "";
        var Password = document.getElementById("Password").value = "";
        return false;


    }





    $(function () {

        $(":file").attr('title', '  ');

        $("input[id^='fileToUpload']").change(function (e) {
            doReCreate(e);
        });

        selDiv = $("#selectedFiles");
    });


    function doReCreate(e) {
        upc = upc + 1;
        handleFileSelect(e);

        $("input[id^='fileToUpload']").hide();

        $('<input>').attr({
            type: 'file',
            multiple: 'multiple',
            id: 'fileToUpload' + upc,
            class: 'fUpload',
            name: 'fileUpload',
            style: 'float: left',
            title: '  ',
            onchange: "doReCreate(event)"

        }).appendTo('#uploaders');
    }


    function handleFileSelect(e) {

        //selDiv.innerHTML = ""; storedFiles = [];
        selDiv = document.querySelector("#selectedFiles");

        if (!e.target.files) return;

        //selDiv.innerHTML = "";
        files = e.target.files;

        for (var i = 0; i < files.length; i++) {
            //if (i == 0) { selDiv.innerHTML = ""; storedFiles = []; }
            var f = files[i];
            selDiv.innerHTML += "<div>" + f.name + "<a onclick='removeAtt(this)'> X </a></div>";
            storedFiles.push(f.name);
        }
        $('#@Html.IdFor(i => i.DocDTO.DocName)').val(storedFiles);
    }

    function removeAtt(t) {
        var serEle = $(t).parent().text().slice(0, -3);
        var index = storedFiles.indexOf(serEle);
        if (index !== -1) {
            storedFiles.splice(index, 1);
        }
        $(t).parent().remove();
        $('#@Html.IdFor(i => i.DocDTO.DocName)').val(storedFiles);
        $("#lifile").text();

    }



</script>